body {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: grey;
    flex-direction: column;
}

.container {
    border: 1px black solid;
    background-color: blue;
    display: flex;
    flex-flow: row wrap;
}

div {
    background-color: white;
    width: 30px;
    height: 30px;
}

button {
    border: none;
    font: sans-serif;
}

.colour {
    height: 20px;
    width: 20px;
}