body {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: grey;
}

.container {
    border: 1px black solid;
    background-color: blue;
    display: flex;
    flex-flow: row wrap;
}

div {
    background-color: white;
    width: 30px;
    height: 30px;
}

div.hovered {
    background-color: red;
}
